
/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
 height: 100%;
 width: 100%;
 margin-bottom: 150px;
}
body {
	
	font: normal 0.9em/1.3 Helvetica;
	color: #222;
	background-color: #edeff0;
	padding-top: 60px; /*Pushes text down*/
	width: 100%;
}

	body {
	  background: #F0F0F0; /*url(../img/bg7.jpg) no-repeat center center fixed; */
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
		
	}
	
/*  COde used to hide error boxes */

.error-box-hide {
	display: none;
	position: relative;
}

/* CLEAR FIX to stop floats*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.hide1, .hide2, .hide3, .hide4, .hide5, .hide5, .hide6, .hide7, .hide8, .hide9, {
	display: none;
}

html[xmlns] .clearfix {
   display: block;
}

* html .clearfix {
   height: 1%;
}

.top {
	z-index: 100000000000;
}

/* Stop showing the DIVs marked as mobile hidden*/

.mobile-hidden {
	display:none;
}

#backcover, #backcover-start {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1000000000000000000;
}
#backcover-start {
	display: block;
}

.front-cover {
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -45%;
	width: 90%;
	padding: 10px;
	background: #F0F0F0;
	border: solid 2px #FF9400;
	text-align: center;
}

.front-cover ul li h2 {
	color: white;
	text-decoration: none;
	font-size: 1.1em;
	padding: 5px;
	margin: 5px auto;
	border-radius: 10px;
	width: 90%;
	background: #FF9400; 
	text-align: center;
}

.front-cover ul li a {
	text-decoration: none;
}

.scroll-guide {
	display: none;
}

/* Layout Element Colors
================================ */

.main-header       { background-color: white; }
.main-logo a       { background-color: #FF9400; }
.main-nav a        { background-color: #009ECE; }
.primary-content   { background-color: #caebf6; }
.secondary-content { background-color: #bfe3d0; }
.main-footer       { background-color: white; }

/* Header, Banner and Footer Layout
================================ */
    /* Header */
 
.main-header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	padding: 5px;
	height: 55px;
	border-bottom: 2px solid #009ECE;
	/*box-shadow: 0px 0px 5px black;*/
}

.main-nav li {
	display:inline-block;
	margin: 10px 0 0 2px;
	vertical-align: middle;
}

.main-nav {
	display: inline-block;
	width: 49%;
	
}

.nav-search-li {
width: 100%;
float: left;
display:inline-block;
}

.nav-login-li, .nav-menu-li {
width:47%;
float: right;
margin-top: 30px;
}


.header-search-bar {
	border: 1px solid #009ECE;
	width: 60%;
	height: 28px;
	padding: 0;
	
}

.header-search-submit {
	border: 1px solid #009ECE;
	width: 28px;
	height: 28px;
	margin: 0;
	padding: 0;
	background: url(/img/search2.gif) no-repeat #E5F2FF;	
	background-size: 100%;
}


.main-nav a:hover {
	background-color: orange;
	border-radius: 30%;
}

.main-logo-mobile {
	width: 50px;
	display: inline-block;
}

.header-container {
	display: inline-block;
	width: 80%;
	float: right;
}
.main-nav-search {
	display: inline-block;
	width: 49%;
}

.main-logo a, 
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 5px;
	border-radius: 5px;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-ransition-duration: 1s;
	-o-transition-duration: 1s;
}
.main-logo {
	display: none;
	top: 2px;
	width: 150px;
	left: 50%;
	margin-left: -75px;
}

.logged-in-me {
 background: #FF9400;
	
}

.main-logo a {
font-family: 'Crafty Girls', cursive;
font-size: 1em; 
padding: 0;
margin: 2px auto;	
}

.main-nav a {
	box-shadow: 0px 0px 5px white;
}

/* CENTER BOXES
================================ */

.content-row {
	float: none;
	text-align:center;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 150px;
	position: relative;
	margin-bottom: 150px;
}

.front-box {
	margin: 5px auto;
	position: relative;
	width: 95%;
	height: 70px;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	/*box-shadow: 0px 0px 3px black;*/
}

/*   testing colorless pictures */

.footer-social-networks  img {
	width: 30px;
	height: 30px;
    filter: url(css/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.footer-social-networks  img:hover {
    filter: none;
    -webkit-filter: none;
}

/**************/

.front-box a {
	padding: 10px;
	font-family: Helvetica;
	font-size: 1.3em;
	color: #202020;
	text-decoration: none;
	font-weight: bold;
	color: white;
	display: block;
	
}

.front-box p {
	position:absolute;
	bottom: 0;
	padding: 5px 0px 5px 0px;
	font-family: Helvetica;
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	width: 100%;
	background-color: white;
	margin: 0;
	border-radius: 0 0 5px 5px;
}



.box-text {
	width: 100%;
	margin: 0 auto;
	background: rgba(0,0,0,0.6);
	width: 100%;
	text-align: left;
	border-radius: 5px 5px 0 0;
}





/* Footer display - mobile */

.main-footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 45px;
	z-index: 100;	
	border-top: 2px solid #009ECE;
	/*box-shadow: 0px 0px 5px black;*/
	}
	
.footer-stories {
	font-size: 1em;
	text-align: left;
	padding: 0 0 0 0;
	margin: 0;
	border: 0;
	
}

.footer-get-inspired {
	font-size: 0.8em;
	text-align: left;
	padding: 0 0 0 0;
	font-family: Helvetica, Arial;
	margin: 0;
}

.footer-story-text {
	font-size: 1em;
	color: #282828;
	text-align: left;
	padding: 0;
	font-family: Helvetica, Arial;
	margin: 0;
	line-height: 90%;
}


.story-picture {
	float: left;
	display:inline-block;
	padding: 0;
	border-right: 5px solid white;
	margin: 0;
	height: 44px;
	width: 40px;
}

.dest-border-actions a {
	color: white;
	text-decoration: none;
	
	
}


/* Stories related css */

.stories-container {
	margin: 0px;
	position: relative;
	width: 100%;
	max-height: 100%;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px black;
	background: white;
}
.stories-container h1 {
	font-size: 1em;
	position: absolute;
	bottom: 60px;
	z-index: 100;
	left: 6%;
	color: white;
}

.stories-container h2 {
	font-size: 1em;
	position: absolute;
	bottom: 30px;
	left: 6%;
	z-index: 100;
	color: white;
}

.stories-container h3 {
	position: relative;
	font-size: 0.6em;
	margin: 0 auto;

}
 
.stories-container p {
	position: absolute;
	right: 5%;
	top: 5%;
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 5px 3px 5px 1px;
	text-align: center;
	background: #FF9400;
	border-radius: 100%;
	color: white;
	text-decoration: bold;
	font-size: 1.2em;	
}

.stories-container img {
	width: 95%;
	border: 2px solid black;
	padding: 1%;
	margin-top: 10px;
	
}




/* Float Clearfix
================================ */

.group:after {
  content: " ";
  display: table;
  clear: both;
}

/* Media Queries
================================ */


/* Button on the left part of the screen
================================ */


.dest-border-actions {
	position: fixed;
	width: 23.75%;
	bottom: 0;
	height: 40px;
	background:#FF9400;
	color: white;
	border: 2px solid white;
	border-bottom: 0;
	padding: 5px;
	border-radius: 20% 20% 0 0;
	text-align: center;	
	box-shadow: 0px 0px 3px black;
    transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-ransition-duration: 1s;
	-o-transition-duration: 1s;
	font-size: 0.9em;
}

.stories-container p, 
.stories-container h1, 
.stories-container a,
.stories-container h2, 
.stories-container h3 a{
	color: black;
	text-decoration: none;
}

.comment {
	right: 1%;
}

.postcard {
	right: 25.75%;
}


.save {
	right: 50.5%;
}

.beenthere {
	right: 75.25%;
}

/* Consolidated CSS styles */

.content-container {
	margin: 10px auto;
	position: relative;
	width: 95%;
	height: 100%;
	border: 5px solid white;
	border-radius: 10px;
	background: white;
	box-shadow: 0px 0px 3px black;	
}

.world-zoom {
	position: absolute;
	left: 25px;
	top: 5px;
	border: dotted 2px grey;
	font-size: 0.6em;
	color: black;
}

#country-count {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 5px 3px 5px 1px;
	text-align: center;
	background: #FF9400;
	border-radius: 100%;
	color: white;
	text-decoration: bold;
	font-size: 1.7em;
}



#world-submit a {
	position: absolute;
	top: 280px;
	width: 40px;
	height: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 10px 3px 5px 1px;
	text-align: center;
	background: #FF9400;
	border: solid 1px grey;
	border-radius: 100%;
	color: white;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	z-index: 100000;
}

.world-country-list h3 {
	margin: 0 auto;
	
}

.world-country-list ul li {
	width: 95%;
	background: #009ECE;
	margin: 3px auto;
	border: solid 2px white;
	border-radius: 10px;
	color: white;
	font-size: 1em;
}

.content-container-narrow {
	margin: 10px auto;
	position: relative;
	width: 95%;
	height: 100%;
	border: 5px solid white;
	border-radius: 10px;
	background: white;
	box-shadow: 0px 0px 3px black;	
}

.content-contrainer-narrow-blank {
	margin: 10px auto;
	position: relative;
	width: 95%;
	height: 100%;
}

.content-container-narrow ul li h2 {
	float: left;
	width: 70%;
	font-size: 0.8em;
	display: inline-block;
	text-align: left;
	margin: 5px 10px 0 5px;
	height: 30px;
}

.content-container-narrow ul li p {
	float: right;
	width: 25px;
	height: 25px;
	display: block;
	text-align: right;
	margin: 5px 10px;
	background: #009ECE;;
	border-radius: 100%;
	padding: 5px 3px 0 0;
	font-size: 0.8em;
	color: white;
}

.social-scores {
	position: absolute;
	top: 2px;
	right: 2px;
	min-width: 67px;
}
.social-scores ul li p {
	display: inline-block;
	font-size: 0.8em;
	padding: 0px;
	padding-bottom: 3px;
	margin: -5px 2px 0px 0px;
	vertical-align: middle;
}
.social-scores ul li {
	width: 60px;
	height: 16px;
	display: block;
	text-align: right;
	
}
.social-scores ul li img {
	width: 12px;
	height: 12px;
	display: inline-block;
	float: left;
}






.anchor-middle-orange {
	font-size: 0.8em;
	color:#FF9400; 
	text-decoration: none;
	margin: 0px;
}
.anchor-middle-orange h2 {
	font-size: 0.8em;
	color:#FF9400; 
	text-decoration: none;
	margin: 0px;
}



/* end
================================ */

.postcard-like-action img {
	height: 22px;
	width: 22px;
	border: 2px solid #FF9400;
	position: absolute;
	right: 10px;
	bottom: 2px;	
}



/*  pininterest inspired columns 
 * =========================== */

#columns {
	-webkit-column-count: 1;
	-webkit-column-gap: 5px;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 5px;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: 5px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	margin: 5px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 3px;
	padding-bottom: 3px;
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}


.dest-session-stats {
	position: fixed;
	bottom: 5px;
	left: 5px;
	height: 38px;
	background: orange;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	z-index: 1000000000;
}

.dest-session-stats a {
	text-decoration: none;
	color: black;
	
}


.dest-session-stats ul li {
	display: inline-block;
	margin: 0px auto;
	height: 30px;
}

.dest-session-stats ul li p{
	display: inline-block;
	margin: 0 3px;
	color: white;
}

.dest-session-stats img {
	width: 25px;
	height: 25px;
	display:inline-block;
}

.challenge-city-name h2 {
	margin: 15px auto 5px auto;
	text-align: center;
	padding: 5px 5px; 
	background-color:white;
	filter:alpha(opacity=30); 
	opacity:.8;
	border-radius: 10px;
	width: 80%;
	border: 5px solid #FF9400;
}
.challenge-city-scores img {
	height: 30px;
	width: 30px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: -5px;
}

.challenge-city-scores {
	margin: 30px auto 10px auto;
	text-align: center;
	width: 80%;
	background: white;
}

.challenge-city-scores {
	margin: 15px auto 5px auto;
	text-align: center;
	padding: 5px 5px; 
	background-color:white;
	filter:alpha(opacity=60); 
	opacity:.8;
	border-radius: 10px;
	width: 80%;	
	border: 5px solid #FF9400;
	
}

@media (min-width: 768px)  {
	
	.scroll-guide {
	position: fixed;
	bottom: 40px;
	right: 10px;;
}
.scroll-guide h2 {
	background: rgba(255,255,255,0.8);
	padding: 5px;
	font-size: 0.8em;
	border-radius: 10px;
	border: dotted 2px grey;
}

.front-cover {

	margin-left: -250px;
	width: 500px;

}

.front-cover ul li h2 {
	width: 450px;
}
	
	.main-logo-mobile {
		display: none;
	}
	
	.nav-search-li {
		width: 80%;
	}
	
	.content-container-narrow, 
	.content-contrainer-narrow-blank {
	width: 500px;
	}
	.content-container {
		max-width: 600px;
		display:inline-block;
	}

	
	.world-country-list {
		width: 190px;
		display: inline-block;
		float: right;
		margin-left: 5px;
		
		
	}


		
	.dest-border-actions {
		position: fixed;
		left: 0;
		right: inherit;
		bottom: inherit;
		height: 60px;
		width: 60px;
		background: #FF9400;
		color: white;
		border: 2px solid white;
		border-left: 0;
		padding: 5px;
		border-radius: 0 20% 20% 0;
		text-align: center;	
		padding-left: 1px;
	}
	
	.comment {
		top: 200px;
	}
	
	.postcard {
		top: 265px;
	}
	
	
	.save {
		top: 330px;
	}
	
	.beenthere {
		top: 395px;
	}
	
	.feedback-botton {
		top: 460px;
	}
	
		/* Stop showing the DIVs marked as mobile hidden*/
	.mobile-hidden {
		display:inherit;
	}

	/****HEADER*****/
	
	.header-container {
	position: relative;
	display: inline-block;
	width: 100%;
	}
	
	.main-logo {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 40px;
	display: block;
	z-index: 100000000000000;
	padding: 1px;
	}
	.main-nav {
	position: absolute;
	right: 0px;
	top: -5px;
	display:inline-block;
	float: right;
	width: 200px;
	}
	.main-nav-search {
		display: inline-block;
		width: 300px;
	}
	
	.main-header {
	height: 55px;
	padding: 15px 5px;
	}
	
	/* Feedback botton */
	
	.feedback-botton {
		position: fixed;
		left: 0;
		top: 20%;
		background:#009ECE;
		padding: 10px 5px 10px 10px;
		border-radius: 0 20% 20% 0;
		text-align: center;	
		box-shadow: 0px 0px 3px black;
	    transition-duration: 1s;
		-webkit-transition-duration: 1s;
		-moz-ransition-duration: 1s;
		-o-transition-duration: 1s;
	}
	
	.feedback-botton:hover {
		background:rgba(255,255,255,0.5);
		
	}
	.feedback-botton a {
		text-decoration: none;
		color: white;
		font-size: 0.8em;
		font-weight: bold;
		
		
	}
	
	
	/* Footer */
	
/***** Footer tablet view*****/
	
	.footer-social-networks {
		float: right;
		width: 300px;
		position: absolute;
		bottom: 0px;
		right: 5px;
		text-align: right;
	}
	
	.footer-social-networks li {
		display:inline-block;
		font-size: 0.3em;		
	}
	.footer-stories {
		position:relative;
		float: left;
		width: 300px;
	}
	
	.fb-footer-container {
		float: right;
		width: 100px;
		display: inline-block;
		position: absolute;
		right: 230px;
		z-index: 100000;
		bottom: 10px;
	}
	
	.footer-social-networks img {
		height: 30px;
		width: 30px;
		margin-right: 5px;
		border: 5px solid white;
	}
	
	.main-footer {
		height: 45px;
	}
	
	.footer-last-line {
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 0;
		margin: 0 auto;
		border: 0;
		background-color: #009ECE;
		height:21px;
		text-align: center;
		color: white;
	}
	
	.footer-last-line a,
	.footer-last-line p {
		font-size: 0.6em;
		text-decoration:none;
		color: white;
	}
	.footer-last-line li {
		display: inline-block;
		
	}
	


	/* Main boxes
	================================ */
	
	.front-box {
	width: 46.5%;
	margin: 5px 1%;
	display: inline-block;
	
		
	}

	.content-area2 {
		float: right;
	}
	
	.content-area3 {
	}
	
	.content-area4 {
		float: right;
	}
	
	
		/* Stories 
	================================ */
	.stories-top-header {
		width: 95%;
	}
	

	.all-post-cards-container-ul li:nth-child(odd) {
		float: left;
		clear: none;
		margin: 0;
		
	}
	.all-post-cards-container-ul li:nth-child(even) {
		float: right;
		clear: none;
		margin: 0;
	}
	
	.all-post-cards-container-ul li {
		display: inline;
		width: 49.3%;
	}
	

} 

/******* END of Tablet setup*****/

@media (min-width: 850px)  {
	
	.dest-session-stats {
	position: fixed;
	bottom: 55px;
	left: 10px;
	height: 38px;
	background: orange;
	text-align: center;
	padding: 5px;
	border-radius: 10px;
	z-index: 1000000000;
}

	.content-row {
		width: 800px;
		margin: 0 auto;
	}
		

	.footer-stories {
		width: 650px;	
	}
	
	
}

/*the following is formatting the drop down menu */

.nav-menu-li ul {
	display: none;
}

.nav-menu-li:hover > ul {
		display: block;
		
	}

.nav-dropdown {
	background: #E5F2FF;
	width: 200px;
	position: absolute;
	right:-15px;
	border: 5px solid #009ECE;
	border-radius: 10px;
	box-shadow: 0px 0px 5px black;
}
.nav-dropdown li {
	width: 190px;
	padding: 1px 5px;
	margin: 1px;
	
}



/* USER CSS*/


.register-div, 
.edit-user-div {
	margin: 20px auto 15px auto;
	padding: 15px 20px;
	position: relative;
	width: 95%;
	height: 160px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px black;
	background: white;
}

.register-div p {
	display: block;
	width: 100%;
	clear: both;
}

.register-fields {
	width: 50%;
	height: 25px;
	border: 2px solid #009ECE;
	padding: 3px 5px;
	float: right; 
	font-size: 0.8em;
	margin: 5px;
}

.upload-error-box p {
	margin: 10px;
	position: relative;
	margin-top: 30px;
	border-radius: 30%;
	padding: 10px;
	background: #009ECE;
	color: white;
	font-weight: strong;
}


.register-text {
	width: 40%;
	border: 0;
	height: 25px;
	padding: 3px 5px; 
	float: left;
	font-size: 0.8em;
	margin: 5px;
	text-align: left;
}

.register-button {
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 5px 10px;
	background: #FF9400;
	color: white;
	font-size: 1em;
	border: 2px solid white;
	border-radius: 100%;
	box-shadow: 0px 0px 10px white;
}

.not-for-humans {
	display: none;
}

.register-button-div {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.register-error {
	background: red;
	color: white;
}

/* user page CSS */
.user-content-bow {
	margin: 20px auto 15px auto;
	padding: 15px 20px;
	position: relative;
	width: 95%;
	height: 100%;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px black;
	background: white;
}

.user-pic-div h1 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.user-pic-div img {
	width: 90%;
	border: 5px solid black;
}

.user-pic-div h2 {
	position: absolute;
	top: 45px;
	right: 12%;
	font-size: 1.2em;
	background: #FF9400;
	border: 2px solid white;
	border-radius: 10%;
	box-shadow: 0px 0px 10px white;
	padding: 5px;
	color: white;
}


.user-stats-div {
	width: 90%;
	margin: 10px auto 5px auto;	
}

.user-stats-div h2 {
	text-align: left;
	float: left;
	font-size: 1.1em;
	width: 85%;
	margin-left: 0;
	margin-right: 2.5%;
	margin-top: 0px;
	
}

.user-stats-div p {
	float: right;
	font-size: 1.1em;
	width: 30px;
	height: 30px;
	color: white;
	background: #009ECE; 
	border-radius: 100%;
	padding: 5px 5px;	
	margin: 0px 0px 1px 1px;
}

.user-basic-info-div  {
   width: 90%;
   margin: 20px auto 0px auto;
}

.user-basic-info-div p  {

   color: darkgrey;
   font-size: 1em;
}

.leftalign {
	float: left;
	width: 55%;
	margin: 0;
	padding: 2px 0px;
	text-align: left;
}
.rightalign {
	float: right;
	width: 40%;
	margin: 0;
	padding: 2px 0;
	text-align: right;
}

.user-checkout-div {
	margin: 20px auto 15px auto;
	padding: 5px 5px;
	position: relative;
	width: 95%;
	height: 100%;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px black;
	background: white;
}
	
.user-checkout-div h1 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.user-check-out-list img {
	width: 10%;
	float: left;
	border: 2px solid black;
	margin: 0 0 0 2.5%;
}

.user-check-out-list h3 {
	width: 85%;
	float: right;
	font-size: 0.2em:
	padding: 2px 0px;
	margin: 0px;
	text-align: left;
}

.user-postcards-div, 
.user-postcards-header {
	margin: 20px auto 15px auto;
	padding: 5px 5px;
	position: relative;
	width: 95%;
	height:  20px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px black;
	background: white;
}
.user-postcards-header {
	height: 30px;
}
.user-postcards-header h1 {
font-size: 1.2em;
}


.login-text-box {
	margin: 20px auto 15px auto;
	padding: 5px 5px;
	position: relative;
	width: 95%;
	height:  160px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px black;
	background: white;
	
}

.login-text-box p {
	display: block;
	width: 100%;
	margin: 0px auto;
	padding-top: 10px;
	clear: both;
	
}

.login-text-box h1 {
	font-size: 0.8em;
	
}

.stories-upload-header {
	font-size: 1.2em;
	
}

/* *** Media setup of user profile */


@media (min-width: 768px)  {

	.register-button {
		width: 50px;
	}
	
	.nav-menu-li,
	.nav-login-li {
		width: 30%;
		margin: -10px 5px 0px 5px;
	}
	
	.register-div,
	.edit-user-div {
	width: 400px;
	}
	
	.user-pic-div {
		display: inline-block;
		width: 45%;
		float: left;
		position: relative;
	}
	.travel-status {
		margin-top: 0px;
		margin-right: -10px;
		
	}
	
	.user-stats-div {
		width: 55%;
		float: right;
		display: inline-block;
		margin-top: 30px;
	}
	
	.user-basic-info-div {
		width: 55%;
		float: right;
		display: inline-block;
		margin-top: 30px;
		
	}
	.user-postcards-wrapper {
		float: right;
		width: 48%;
		margin-right: 1.5%;
	}
	
	.user-checkout-div {
		float: left;
		width: 48%;
		margin-left: 2.5%;
	}
	.login-text-box {
		width: 400px;
	}
	.story-upload-container {
		width: 400px;
		
	}

}

.edit-user-div {
	height: 100%;
	
}

.edit-user-button {
	width: 60px;
	height: 60px;
	text-align: center;
	padding: 5px 5px;
	background: #FF9400;
	color: white;
	font-size: 0.8em;
	border: 2px solid white;
	border-radius: 100%;
	box-shadow: 0px 0px 10px white;	
}

.edit-user-div h1 {
	font-size: 0.9em;
	
}


.dest-show-partnership {	
	margin: 5px auto;
	text-align: middle;
	position: relative;
	width: 97%;
	height: 100%;
	border: 5px solid white;
	border-radius: 10px;
	filter: none;
    -webkit-filter: none;
	/*box-shadow: 0px 0px 3px black; */
	background:  white;
	float: both;
}

.dest-top-text {
		background-color:white; filter:alpha(opacity=60); opacity:.7;
	
}

.dest-show-main-picture img {
	width: 100%;
	padding: 0;
	border: 0 solid white;
	
}

.dest-been-there-check {
	height: 35px;
	height: 35px;
	position: absolute;
	right: 5px;
	top: 1px;
}

.dest-been-there-text{
	text-decoration: none;
	font-size: 0.8em;
	color: #FF9400;
	position: absolute;
	right: 5px;
	top: 10px;
}

.dest-weather img {
	width: 30%;
	height: 30%;
}

.dest-weather {
	margin-bottom: 10px;
	
}

.dest-weather {
	font-size: 1em;
	font-style: bold;
	
}

.dest-weather li {
	width: 24%;
	display: inline-block;
}

.dest-show-partnership img {
width: 95%;
margin: 2%;
border: 1% solid white;
}
.dest-show-partnership li {
	width: 30%;
	display: inline-block;
}


.dest-show-main-text {
}

.dest-show-partnership h1,
.dest-show-main-text h1, 
.dest-weather h1 {
	font-size: 1em;
	color:  #FF9400;
	padding: 5px;
	margin: 5px 2.5% 5px 2.5%;
	text-align: left;
	
}

.dest-show-main-text p {
	padding: 5px;
	font-size: 0.8em;
	text-align: left;
	margin: 0 2.5% 10px 2.5%;
}

.dest-show-main-text, 
.dest-show-main-content,
.dest-text {
	position: absolute;
	padding: 1px;
	text-align: left;
	width: 100%;
	border: 5px solid  white;
	filter: none;
    -webkit-filter: none;
	z-index: 1;
	background-color:white; /*filter:alpha(opacity=70); opacity:.8; */
}

.dest-show-main-content-fb {
	position: relative;
}

.dest-text {
	background-color: rgba(255,255,255,0.8)
	
}

.dest-text {
	z-index: 2;
	top: 35px;
	border: none;
	padding: 0px 10px;
	display: none;	
	color: black:
}

.dest-text p {
	color: black:
}


.dest-actions li {
	margin: 5px auto;
	text-align: center;
	background: #FF9400;
	width: 150px;
	height: 20px;
	color: white;
	border-radius: 10px;
}
.dest-actions li a {
	color: white;
	text-decoration: none;
}

.dest-show-main-content p, .dest-show-main-content a, .dest-show-main-picture p {
	padding: 5px;
	margin: 0;
	color: black;
	display: inline-block;
	text-align: left;
}
.dest-show-main-picture p {

	margin-bottom: -2px;

}

.dest-show-main-picture {
	margin: 5px auto;
	text-align: middle;
	position: relative;
	width: 100%;
	height: 100%;
	background:white;
	border: 1px solid  white-space: normal;;
	border-radius: 0px;
	filter: none;
    -webkit-filter: none;
	/*box-shadow: 0px 0px 3px black;*/
	
}

.dest-show-main-text {
	display: block;
	float: none;
	clear: both;
}

.dest-show-topline {
	margin: 5px auto;
	text-align: middle;
	position: relative;
	width: 96%;
	height: 45px;
	border: 5px solid  white;
	border-radius: 10px;
	filter: none;
    -webkit-filter: none;
	box-shadow: 0px 0px 3px black;
	background:  white;
}

.challenge-city-scores a {
	text-decoration: none;
	color: black;
}

.dest-kokomo-stats-div {
	margin: 5px auto;
	text-align: middle;
	position: relative;
	width: 95%;
	height: 100%;
	background:white;
	border: 5px solid  white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px black;
}

.dest-kokomo-stats-div ul li {
 margin: 0;
 text-align: left;

}

.cc-links-div ul li p, 
.cc-links-div ul li a {
	color: darkgrey;
	text-decoration: none;
	font-size: 0.8em;
	width: 95%;
	clear: both;
	
}

.cc-links-div {
	margin: 5px auto;
	text-align: middle;
	position: relative;
	width: 95%;
	height: 100%;
	background:white;
	border: 5px solid  white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px black;
	background-color:white; filter:alpha(opacity=60); opacity:.9;
	display: inline-block;
}




.dest-kokomo-stats-div ul li h2 {
	float: left;
	width: 70%;
	font-size: 0.8em;
	display: inline-block;
	text-align: left;
	margin: 5px 10px 0 5px;
	height: 30px;
}

.dest-kokomo-stats-div ul li p {
	float: right;
	width: 25px;
	height: 25px;
	display: block;
	text-align: right;
	margin: 5px 10px;
	background: #009ECE;;
	border-radius: 100%;
	padding: 5px 3px 0 0;
	font-size: 0.8em;
	color: white;
}


.random_button_show {
	border: 3px solid white;
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0px;
	top: 50%;
	z-index: 1000000;
	background: orange;
	font-size: 1.2em;
	border-radius: 20% 0 0 20%;
	text-decoration: none;
	color: white;
	padding: 12px 0 0 5px;
}

.random_button_show a {
	
	margin-top: 20px;
	text-decoration: none;
	color: white;
}

.random_button_hide {
	display: none;
	visibility: hidden;
}

.dest-border-actions {
	position: fixed;
	width: 23.75%;
	bottom: 0;
	height: 40px;
	background:#FF9400;
	color: white;
	border: 2px solid white;
	border-bottom: 0;
	padding: 5px;
	border-radius: 20% 20% 0 0;
	text-align: center;	
	box-shadow: 0px 0px 3px black;
    transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-ransition-duration: 1s;
	-o-transition-duration: 1s;
	font-size: 0.9em;
}

.stories-container p, 
.stories-container h1, 
.stories-container a,
.stories-container h2, 
.stories-container h3 a{
	color: black;
	text-decoration: none;
}

.comment {
	right: 1%;
}

.postcard {
	right: 25.75%;
}


.save {
	right: 50.5%;
}

.beenthere {
	right: 75.25%;
}

.dest-comment-container {
	margin: 10px auto;
	text-align: middle;
	position: relative;
	width: 95%;
	border: 5px solid white;
	border-radius: 10px;
	filter: none;
    -webkit-filter: none;
	box-shadow: 0px 0px 3px black;
	background:  white;
	float: both;
}

.dest-comments-div h2 {
	font-size: 1.2em;
	text-align: left;
	margin: 5px 0 5px 10px;
}

.dest-comments-div h3 {
	font-size: 0.9em;
	text-align: left;
	margin: 5px 0 5px 10px;
	font-style: italic;
	font-weight: normal;
}

.dest-comments-div p {
	font-size: 0.9em;
	text-align: right;
	margin: 5px 0 5px 10px;
	font-style: bold;
}

@media (min-width: 768px)  {
		
	.dest-border-actions {
		position: fixed;
		left: 0;
		right: inherit;
		bottom: inherit;
		height: 60px;
		width: 60px;
		background: #FF9400;
		color: white;
		border: 2px solid white;
		border-left: 0;
		padding: 5px;
		border-radius: 0 20% 20% 0;
		text-align: center;	
		padding-left: 1px;
	}
	
	.comment {
		top: 200px;
	}
	
	.postcard {
		top: 265px;
	}
	
	
	.save {
		top: 330px;
	}
	
	.beenthere {
		top: 395px;
	}
	
	.feedback-botton {
		top: 460px;
		display: none;
	}
	
	.stories-container-div {
		width: 47%;
		float: right;
		margin-right: 2%;
	}

	
	.cc-links-div {
		float: left;
		width: 47%;
		margin-left: 2%;
		
	}
	

	
	.stories-container {
		float: right;
		margin-left: 0%;
	}
	
	
}
	
	
.dest-rec-bar h2 {
	background:white;
	color: #009ECE;
	margin: 2px auto;
	width: 100%;
	font-size: 1.1em;
	padding: 5px;
	text-align: center;
	border: solid 2px #009ECE;
	border-left: none;
	border-right: none;
	
	
}


@media (min-width: 800px)  {
	
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}



@media (min-width: 1200px)  {
	
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

.dest-already {
	display:none;
	position: absolute;
	top: 50px;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.dest-already p {
	margin-top: 10px;
	font-size: 1em;
	padding: 5px;
	background-color:rgba(255,255,255,0.8);
	border-radius: 10px;
	margin: 0 auto;
	width: 80%;
}

.dest-already img {
	height: 90px;
	width: 90px;
	margin: 20px auto;
	border: solid 5px orange;
	border-radius: 100%;
	display:block;
	padding: 10px;
	background-color:rgba(255,255,255,0.8);
}

.challenge-city-scores img {
	height: 30px;
	width: 30px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: -5px;
}

.challenge-city-name  {
	text-align: center;
	position: relative;
	margin: 10px auto;
	padding-top: 1px;
	width: 98%
}

.challenge-city-scores h3 {
 width:39%;
 display:inline-block;
 font-size: 1.2em;

}


.challenge-city-scores h3 p {
display: inline;
background: #FF9400;
padding: 10px 15px;
 border-radius: 100%;
}

.item-picture {
	position: absolute;
	top: 2px;
	right: 2px;
	min-width: 25px;
}
.item-picture img {
	width: 25px;
	height: 25px;
	display: inline-block;
	float: left;
}

.dest-guide-right-scores {
	margin: 0px;
	text-align: left;
	position: relative;
	width: 98%;
	background: white;
}

.dest-guide-scores img {
	height: 25px;
	weight: 25px;
	margin: 3px 15px 0px 10px;
}

.dest-guide-scores-img {
	display: inline-block;
	width: 10%;
	position: table;
	vertical-align: middle;
	text-align:left;
	margin: 0 10px 0 0px;
}

.output-beaches {
	padding-top: 40px;
}

.output-entertainment {
	padding-bottom: 5px;
}


.dest-guide-div-score-bg{
	position: table;
	vertical-align: middle;
	display: inline-block;
	padding: 0;
	margin: 0;
	height: 25px;
	width: 80%;
	background: #E5F2FF;
}

.dest-guide-div-score-pct {
	display: inline-block;
	padding: 0;
	height: 25px;
	margin: 0;
	width: 45%;
	background: #FF9400;
	
}
.dest-menu ul li {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
	background: #FF9400;

}

.dest-menu {
	position: fixed;
	text-align: center;
	width: 450px;
	bottom: 5px; /* or whatever position is desired */
    left: 50%;
    margin-left: -225px;
    z-index: 100000000000;
}

.dest-menu ul li	 a {
	text-decoration: none;
	color: white;
}
.twitter-content img {
	width: 25%;
	display: inline-block;
	padding-top: 45px;
	padding-left: 10px;
	float: left;
}
.twitter-content div {
	display:inline-block;
	width: 70%;
	padding-top: 28px;
	padding-left: 10px;
	min-height: 150px;
}

.twitter-content div h2, .twitter-content div h3 {
	font-size: 0.9em;
	font-style:italic;
}

.twitter-content div h3 {
	text-align: right;
}

@media (min-width: 796px)  {
	.dest-menu {
		bottom: 50px;
	}
}

.dest-score-show {
	position: absolute;
	bottom: -17px;
	right: 10px;
	width: 45px;
	height: 45px;
	background: white;
	border: 3px solid orange;
	border-radius: 100%;
	font-size: 1.2em;
	text-align: center;
	padding: 0px;
}

.dest-score-show  p {
	margin: 10px 10px;
	color: #202020;
	padding: 0px;
}

.dist-guide-form-submit {
	position: fixed;
	right: 50%;
	bottom: 60px;
	margin: 5px auto;
	margin-right: -100px;
	text-align: middle;
	width: 200px;
	height: 40px;
	text-align: center;

}

.dist-guide-submit-bottom {
	font-family: Helvetica;
	width: 45px;
	height: 45px;
	background: #FF9400;
	border-radius: 100%;
	color: white;
	border: 3px solid white;
}
